*{
  font-size: 10px;
}

.containerCardDestiny {
  max-width: 30rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 8px 4px 4px 0px #00000040;
}
  
.cardDetailNight {
  left: 65%; 
  width: 65%;
  transform: translate(-50%, -50%);  
  background-color: #796151;
  border-radius: 2rem;
  font-size: 1.2rem;
  line-height: 2.4rem;
}
  
.cardDestinyData {
  padding: 2.4rem;
  font-size: 1.6rem;
  line-height: 4rem;
}

.cardDestinyText h2 {
  font-size: 1.6rem;
}

.cardDestinyText p {
  font-size: 1.4rem;
}

.iconHotel {
  max-width: 2rem;
  max-height: 2rem;
}

.cardDestinyHotelText {
  font-size: 14px;
}

.cardDestinyPrice {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.cardDestinyDetail {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FF821C;
}