*{
    font-size: 10px;
}

.disabled\:opacity-50:disabled{
    opacity: -1 !important;
    z-index: -10 !important;
  }
  
  
  .disabled\:opacity-50{
    opacity: -1 !important;
    z-index: -10 !important;
  }

.carouselContainer {
    padding: 2rem;
}

@media (min-width: 640px) {
  }
  
  @media (min-width: 1024px) {
    .carouselContainer {
        padding: 0.5rem 10rem;
    }
  }
  
