* {
    font-size: 10px;
}

.contact-form-container {
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
}

.contact-form-input input,
textarea {
    border-radius: 10px;
    border: 1px solid #D1D5DB;
    background-color: #F3F4F6;
    outline: none;
    padding: 5px;
}

.submit-button button {
    color: #fff !important;
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 500 !important;
    background-color: #FF821C !important;
    padding: 10px 24px !important;
    border-radius: 16px !important;
}

.socials-container {
    width: 90%;
}

.socials-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.input-contact label {
    color: #C1917D;
    font-weight: 500;
    font-size: 2rem;
    line-height: 24px;
}

.socials-item img {
    width: 30px;
}

.contact-title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

@media (min-width: 1024px) {

    .socials-item {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    }

    #socials-item-location {
        max-width: 50%;
    }

    #socials-item-second-block {
        width: 95%;
    }

    .input-contact#input-contact-name,
    .input-contact#input-contact-surname {
        width: 45%;
    }

    .input-contact input {
        padding: 1.2rem 0;
        font-size: 1.8rem;
    }

    .submit-button button {
        font-size: 20px !important;
        line-height: 28px !important;
        font-weight: 600 !important;
        padding: 18px 27px !important;
    }
}