*{
    font-size: 10px;
}

.collapsable-arrow, .itinerario-incluye-headers h2{
    cursor: pointer;
}

.paddingImg {
    padding: 4rem 0rem 2rem 6rem;
}

.textNight {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.8rem;
    letter-spacing: 0em;
    text-align: left;
}

.textMonth {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left;
}

.textHotel {
    padding: 0 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left;
}

.containerCarrousel {
    height: 35rem;
    width: 100%;
}

.detailDescription {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0em;
    text-align: left;
    padding: 4rem 2rem;
}

.containerDetailPrice {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0px;
    border-radius: 32px;
    background-color: #796151;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textPriceTitle {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FCFCFC;
}

.textPrice {
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: #FCFCFC ;
}

.containerBooking {
    width: 100%;
    padding: 2rem 0px;
    border-radius: 32px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookingTitle {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.bookingNumber {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
}

.itinerario_incluye h2 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.destiny-item-active {
    color: #FF821C;
    border-bottom: 2px solid #FF821C;
    transition: all .3s ease-in-out;
}

.colapsable-header {
    border-bottom: 2px solid #C1917D;
    cursor: pointer;
}

.colapsable-header h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.colapsable-content ul li {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 80%;
    margin: 10px auto;
    list-style: disc;
}


@media (min-width: 768px) {

    .destiny-title h1 {
        font-size: 6.4rem;
        font-weight: 600;
        line-height: 7.6rem;
        letter-spacing: 0em;
        text-align: left;
    }

    .itinerario-incluye-headers h2 {
        font-size: 2rem;
        font-weight: 500;
        line-height: 3.6rem;
        letter-spacing: 0em;
        text-align: center;
        cursor: pointer;
    }

    .textHotel {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.8rem;
        letter-spacing: 0em;
        text-align: left;
    }

    .detailDescription {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.8rem;
        letter-spacing: 0em;
        text-align: left;
    }

    .colapsable-header h2 {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.8rem;
        letter-spacing: 0em;
        text-align: left;
    }

    .colapsable-content li,
    p {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.8rem;
        letter-spacing: 0em;
        text-align: left;
    }

    .containerCarrousel {
        height: 350px;
        width: 45%;
        padding: 2rem;
        max-width: 43rem;
    }


    .containerCarrousel div Button {
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
    } 

    .md-w-55 {
        width: 55%;
    }

    .containerDetailPrice {
        width: 100%;
        margin: 0 auto;
        padding: 2rem 0px;
        border-radius: 32px;
        background-color: #796151;
        color: #FCFCFC;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textPriceTitle {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }

    .textPrice {
        font-size: 2.8rem;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
    }

}