*{
    font-size: 10px;
}

.titleFilter {
    font-size: 1.6rem;
}

span {
    font-size: 1.4rem;
}

.selectedItem {
    padding: 5px 10px 5px 16px;
    border-radius: 6.5rem;
    border: 1px solid #C1917D;
    font-weight: 600;
    line-height: 1.6rem;
}

button {
    color: black !important;
    border-radius: 0 !important;
    border: none !important;
    font-size: 1.4rem !important;
    background-color: white !important;
    padding: 0.6rem !important;
}

.multi-select {
    width: 80% !important;
    max-width: 20rem;
}