footer {
    background-color: #3A312B;
    padding: 16px 0;
}

.socials-footer-item span,
.footer-nav-item a {
    color: #fff;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
}

.footer-socials-container,
.footer-nav {
    height: 75%;
}

@media (min-width: 1024px) {

    footer {
        height: auto;
    }

    .footer-nav {
        flex-wrap: wrap;
    }

    .footer-nav-item {
        width: calc(30% - 10px);
    }

    .socials-footer-item span,
    .footer-nav-item a {
        font-size: 16px;
    }

    .footerContainer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }

}