*{
  font-size: 10px;
}


.destinationTitle {
  line-height: 36px;
  font-size: 2rem;
}

.containerCardDestination {
  grid-template-columns: repeat(2, 1fr); 
}
  
.cardDestination {
  height: 15rem;
  border-radius: 2.4rem;
}

.cardDestinationPlace {
  bottom: 30%;  
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-shadow: 0.2rem 0.2rem 0.1rem black;
}

.cardDestinationProvince {
  bottom: 5%;
}

/*! ##### TABLETS & LARGER SMARTPHONES #####*/
@media (min-width: 530px) {   

  .cardDestination {
    height: 24rem;
  }

  .cardDestinationPlace {
    bottom: 20%;  
    font-size: 2rem;
  }
      
  .containerCardDestination {
    grid-template-columns: repeat(3, 1fr);
  }

}

/*! ############### LAPTOPS ###############*/
@media (min-width: 950px) {
    
  .cardDestination {
    height: 31rem;
  }

  .containerCardDestination {
    grid-template-columns: repeat(4, 1fr);
  }

}