*{
    font-size: 10px;
}

.map {
    width: 100%;
    height: auto;
    display: flex;
}

/*! ##### TABLETS & LARGER SMARTPHONES #####*/
@media (min-width: 530px) {  

    .map {
        border-radius: 1rem;
    }

}