*{
    font-size: 10px;
}

.navActive{
  font-size: 1.8rem;
  color: #FF821C;
  text-decoration: underline;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  padding: 1rem 0;
  border-bottom: 2px solid #9CA3AF;
}

.navInactive{
  font-size: 1.8rem;
  color: #C1917D;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  padding: 1rem 0;
  border-bottom: 2px solid #9CA3AF;
}

.navInactive:hover {
  color: #FF821C  ;
  text-decoration: underline;  
}

.navContact {
  color: white;
  font-size: 1.8rem;
  background-color: #FFA500;
  padding: 1rem;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.navContact:hover { 
  text-decoration: underline;  
}

.navContactActive {
  color: white;
  font-size: 1.8rem;
  background-color: #FFA500;
  border-radius: 16px;
  display: flex;
  align-items: center;
  text-decoration: underline;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
}

/*! ##### TABLETS & LARGER SMARTPHONES #####*/
@media (min-width: 530px) {
  .navActive{
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
    border-bottom: none;
  }
  
  .navInactive{
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
    border-bottom: none;
  }
  
  .navContact {
    font-size: 2rem;
  }
  
  .navContactActive {
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
  }
  
}