*{
    font-size: 10px;
}

.clase1 {
    background-color: white;
  }

  .clase2 {
      padding: 0 1rem;
  }

  .clase3 {
    position: relative;
    display: flex;
    height: 5rem; 
    flex-direction: row-reverse;
  }
 
  .clase4 {
      display: flex;
      align-items: center;
  }
  
  .clase5 {
    /* position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.375rem; 
    padding: 0.5rem; 
    color: #FFA500; 
    outline: none; 
    box-shadow: 0 0 0 2px white; 
     */
  }
  
  .clase6 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .clase7 {
    display: flex;
    align-items: center;
  }

  .clase8 {
    display: none;  
  }
  
  .clase9 {
    display: none;
  }

.clase10 {
    display: flex;
    gap: 5rem;
}

/* .clase20 {
    text-decoration: underline;
  } */

  .clase22 {
    font-weight: 500;
    color: #FFA500;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

  .clase23 {
    background-color: #FFA500;
    color: #fff;
    padding: 0.75rem;
    border-radius: 16px;
  }
  
  .clase23:hover {
    color: #fff;
  }
  
  .clase24 {
    color: #FFA500;
  }
  
  .clase26 {
    display: block;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .clase27 {
    background-color: #FFA500;
    color: #fff;
    text-align: center;
  }
  
  @media (min-width: 640px) {
    .clase2 {
      padding: 1.5rem;
    }

    .clase4 {
        display: none;  
    }

    .clase6 {
        justify-content: space-between;
        padding: 0 2rem;
    }

    .clase8 {
        height: 4rem;  
        display: block;  
    }

    .clase9 {
        display: block;
    }

  }
  
  @media (min-width: 1024px) {
  }
  
