*{
    font-size: 10px;
}

.titlePromotion {
    line-height: 36px;
    font-size: 2rem;
}

.containerPromotion {
    box-shadow: 0 0.5rem 0.5rem 0 #00000040;
    height: 14rem;
} 

.containerPromotionImg{
    width: 35%;
} 

.promotionText {
    width: 65%;
}

.promotionTitle{
    font-size: 2rem;
    line-height: 1.7rem;
    color: #796151;
    min-height: 6rem;
}

.promotionInfo {
    height: 30%;
}

.promotionInfo h3{
    font-size: 2rem;
    line-height: 2rem;
}

.promotionInfo h4{
    font-size: 1.4rem;
    line-height: 2rem;
}

.promotionText p {
    line-height: 1.5rem;
}

.promotionOff {
    background-color: #FF821C;
    border-radius: 3rem;
    font-size: 1.2rem;
}

/*! ##### TABLETS & LARGER SMARTPHONES #####*/
@media (min-width: 530px) {   
    *{
        font-size: 13px;
    }
}

/*! ############### LAPTOPS ###############*/
@media (min-width: 950px) {
    *{
        font-size: 15px;
    }
}