@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.titlePage {
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  font-size: 2.8rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

textarea{
  resize: none;
}

#fixedButton {
  position: fixed;
  bottom: 30% ; 
  right: 0 ;
  z-index: 1000 ;
  background-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;  
  }
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;  /* Esto asegura que ocupe el 100% del alto de la pantalla */
  background-color: #f8f8f8; /* Color de fondo blanco palido */
}

.spinner-container {
  background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco pálido con opacidad */
  padding: 20px; /* Agrega un poco de espacio alrededor del spinner */
  border-radius: 8px; /* Ajusta según sea necesario */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente para el efecto de desenfoque */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlaySpinner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 1); /* Fondo blanco semitransparente para el efecto de desenfoque */
  display: flex;
  justify-content: center;
  align-items: center;
}
